.containerPag ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(25, 246, 88);
    border: 7px solid rgb(25, 246, 88);
    border-radius: 5px;
    color: rgb(170, 238, 175);
}
.containerPag{
    display: flex;
    height: 50px;
    background-color:rgb(170, 238, 175);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.containerPag a{
    text-decoration: none;
    color: rgb(5, 138, 23);  
}
.container01 {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.container02 {
    display: flex;
    flex: 1;
    background-color: rgb(5, 138, 23);
    padding: 10px;
}

.container02 h1{
    color:rgb(255, 255, 255);
}

.container03 {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerM {
    background-color: rgb(170, 238, 175);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerI ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgb(144, 170, 255);
    border: 5px solid rgb(144, 170, 255);
    border-radius: 5px;
}

.containerI {
    text-decoration: none;
    color: rgb(5, 138, 23);
}

.containerAdd {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 238, 175);
    flex: 1;
}

.container05 {
    display: flex;
    background-color: rgb(116, 199, 151);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}

.blocM ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border: 7px solid rgb(95, 32, 32);
    border-radius: 5px;
    color: rgb(169, 195, 42);
}
.blocM{
    display: flex;
    height: 50px;
    background-color:rgb(169, 195, 42);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.blocM a{
    text-decoration: none;
    color: rgb(219, 219, 219);

}
.bloc3{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.bloc2 {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.bloc01 {
    height: 20vh;
    flex: 1;
    background-color: rgb(214, 253, 21);
}

.bloc02 {
    height: 30vh;
    flex: 1;
    background-color: rgb(169, 195, 42);
}

.bloc03 {
    height: 15vh;
    flex: 1;
    background-color: rgb(214, 253, 21);
}

.bloc04 {
    height: 35vh;
    flex: 1;
    background-color: rgb(169, 195, 42);
}

.bloc05 {
    height: 50vh;
    flex: 1;
    background-color: rgb(214, 253, 21);
}

.bloc06 {
    height: 20vh;
    flex: 1;
    background-color: rgb(169, 195, 42);
}

.contt01 {
    display: flex;
    height: 50px;
    background-color:rgb(144, 170, 255);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contt01 ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(41, 206, 248);
    border: 7px solid rgb(41, 206, 248);
    border-radius: 5px;
    color: rgb(144, 170, 255);
    margin: 10px;
}

.contt01 a{
    text-decoration: none;
    color: rgb(166, 238, 238);
    
}

.contt02 {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contt03 {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgb(120, 213, 209);
    flex-direction: column;
}

.contt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.contt03 p{
    padding: 10px;
    margin: 0;
}

.contt03 h1{
    background-color: rgb(41, 206, 248);
    border-bottom: 20px solid rgb(41, 206, 248);
    margin-top: -10px;
    color: rgb(107, 155, 153);
    margin: 0;
}