.containerPag ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(255, 20, 161);
    border: 7px solid rgb(255, 20, 161);
    border-radius: 5px;
    color: rgb(247, 125, 214);
}
.containerPag{
    display: flex;
    height: 50px;
    background-color:rgb(247, 125, 214);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.containerPag a{
    text-decoration: none;
    color: rgb(139, 0, 95);  
}
.container01 {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.container02 {
    display: flex;
    flex: 1;
    background-color: rgb(139, 0, 113);
    padding: 10px;
}

.container02 h1{
    color:rgb(255, 255, 255);
}

.container03 {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerM {
    background-color: rgb(237, 100, 168);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerI ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgb(255, 240, 252);
    border: 5px solid rgb(255, 240, 251);
    border-radius: 5px;
}

.containerI {
    text-decoration: none;
    color: rgb(139, 0, 95);
}

.containerAdd {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 100, 168);
    flex: 1;
}

.container05 {
    display: flex;
    background-color: rgb(230, 173, 209);
    flex: 2;
    flex-direction: column;
    padding: 10px;
}

.blocM ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(255, 20, 75);
    border: 7px solid rgb(255, 20, 75);
    border-radius: 5px;
    color: rgb(255, 182, 182);
}
.blocM{
    display: flex;
    height: 50px;
    background-color:rgb(255, 182, 182);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.blocM a{
    text-decoration: none;
    color: rgb(219, 219, 219);

}
.bloc3{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.bloc2 {
    height: 50vh;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
    margin-top: 90px
}

.bloc01 {
    height: 20vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.bloc02 {
    height: 30vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.bloc03 {
    height: 15vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.bloc04 {
    height: 35vh;
    flex: 1;
    background-color: rgb(255, 0, 0);
}

.bloc05 {
    height: 50vh;
    flex: 1;
    background-color: rgb(238, 144, 144);
}

.bloc06 {
    height: 20vh;
    flex: 1;
    background-color: rgb(255, 0, 4);
}

.contt01 {
    display: flex;
    height: 50px;
    background-color:rgb(236, 192, 255);
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contt01 ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(204, 20, 255);
    border: 7px solid rgb(204, 20, 255);
    border-radius: 5px;
    color: rgb(248, 182, 255);
    margin: 10px;
}

.contt01 a{
    text-decoration: none;
    color: rgb(253, 107, 248);
    
}

.contt02 {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contt03 {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: rgb(209, 128, 213);
    flex-direction: column;
}

.contt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.contt03 p{
    padding: 10px;
    margin: 0;
}

.contt03 h1{
    background-color: rgb(228, 20, 255);
    border-bottom: 20px solid rgb(228, 20, 255);
    margin-top: -10px;
    color: rgb(178, 130, 174);
    margin: 0;
}